body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 576px;
    background-color: #F0FFF0;
    margin-bottom: 150px;
}
.sign-in-button{
    border: none;
    margin: 5px;
    padding: 5px 40px;
    border-radius: 30px;
    color: white;
    background-color: #21B573;
}
.navbar-nav li{
    justify-content: space-between;
    margin: 5px;
    border: none;
}
.container{
    padding-bottom: 50px;
}
.red-text{
    color: red;
}
.page-heading-text{
    font-weight: 700;
}
.green-text{
    color: #21B573;
}
.statistics{
    left: 135px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #bec2c0;
    border-radius: 1rem;
}

.statistics img{
    padding-bottom: 40px;
    width: 100%;
}

.statistics-section{
    margin-top: 60px;
    margin-bottom: 100px;
}

.statistics:hover{
    border-radius: 1rem;
    box-shadow: 0 0 10px lightgray;
}
.online-course-text{
    font-weight: 700;
    padding-bottom: 2rem;
}
.card{
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px lightgray;
}
.card img{
    padding: 1rem;
}
.card-footer{
    background-color: white;
    border: none;
    border-radius: 1rem;
}
.testimonial-text{
    padding-bottom: 50px;
}
.copyright-text{
    padding-top: 50px;
}
footer{
    color: white;
    background-color: #282531;
}
footer p{
    font-weight: 200;
    font-size: small;
}
footer .container{
    padding-top: 50px;
    padding-bottom: 50px;
}
button{
    border: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 50px;
    color: white;
    background-color: #21B573;
}
.input-form{
    padding-top: 50px;
}
.testimonials-container{
    width: 60%;
    padding-left: 30%;
}
.footer-link{
    color: #fff;
    line-height: 25px;
}
.footer-link:hover{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    background-color: #F0FFF0;
}